@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppisns, sans-serif;
    background-color: #ededed;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
    width: 100%;
    height: 100%;
}

.left-top-left {
    grid-column: 1;
    grid-row: 1;
    /* background-color: #f0f0f0; */
    padding: 40px;
}

#square {
    width: 30px;
    height: 30px;
    background-color: #000000;
    rotate: 45deg;
}

.left-top-right {
    grid-column: 2;
    grid-row: 1;
    /* background-color: #d0d0d0; */
    justify-items: right;
    padding: 40px;
}

.left-top-right h4 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}

.left-top-right h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.left-top-right i {
    display: none;
}

.left-center {
    grid-column: 1 / 3;
    grid-row: 2;
    /* background-color: #b0b0b0; */
    padding: 20px 100px 20px 40px;
    align-content: center;
}

.left-center h1 {
    font-size: 7vw;
    font-weight: 500;
    line-height: 6vw;
}

.left-center h1:nth-child(2n) {
    text-align: center;
}

.left-center h1:nth-child(4) {
    text-align: right;
}

.left-bottom {
    grid-column: 1 / 3;
    grid-row: 3;
    padding: 20px 40px 50px 40px;
    /* background-color: #909090; */
    align-content: end;
}

.left-bottom p {
    font-size: 14px;
    font-weight: 400;
    width: 70%;
}

.right {
    grid-column: 3;
    grid-row: 1 / 4;
    /* background-color: #707070; */
    padding: 40px;
    padding-right: 100px;
}

.right video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 52.5%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    padding: 30px;
    border-radius: 50%;
}

.arrow i {
    color: #ffffff;
    font-size: 35px;
    background-color: orangered;
}

@media (max-width:600px) {
    .main {
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 30% 10% 50%;
    }

    .left-top-left {
        grid-column: 1;
        grid-row: 1;
        padding: 20px;
    }

    #square {
        width: 20px;
        height: 20px;
    }

    .left-top-right {
        grid-column: 2;
        grid-row: 1;
        padding: 20px;
        text-align: right;
    }

    .left-top-right h4,
    h5 {
        display: none;
    }

    .left-top-right i {
        display: initial;
        font-size: 25px;
    }

    .left-center {
        grid-column: 1 / 3;
        grid-row: 2;
        padding: 10px 50px 10px 20px;
        align-content: center;
    }

    .left-center h1 {
        font-size: 14vw;
        line-height: 12vw;
    }

    .left-bottom {
        grid-column: 1 / 3;
        grid-row: 3;
        padding: 10px 20px 10px 20px;
        align-content: center;
    }

    .left-bottom p {
        width: 100%;
        font-size: 11px;
    }

    .right {
        grid-column: 1 / 3;
        grid-row: 4;
        padding: 20px;
    }

    .arrow {
        top: 53%;
        left: 83%;
        padding: 10px;
    }

    .arrow i {
        font-size: 35px;
        rotate: 90deg;
    }
}