@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppisns, sans-serif;
    background-color: #ededed;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
    width: 100%;
    height: 100%;
}

.left-top-left {
    grid-column: 1;
    grid-row: 1;
    padding: 2vw;
}

#square {
    width: 1.5vw;
    height: 1.5vw;
    background-color: #000000;
    rotate: 45deg;
}

.left-top-right {
    grid-column: 2;
    grid-row: 1;
    justify-items: right;
    padding: 2vw;
}

.left-top-right h4 {
    margin-bottom: 15px;
    font-size: 1.4vw;
    font-weight: 500;
}

.left-top-right h5 {
    font-size: 1.2vw;
    font-weight: 500;
    line-height: 1.6vw;
}

.left-top-right i {
    display: none;
}

.left-center {
    grid-column: 1 / 3;
    grid-row: 2;
    padding: 2vw;
    align-content: center;
}

.left-center h1 {
    font-size: 7vw;
    font-weight: 500;
    line-height: 6vw;
}

.left-center h1:nth-child(2n) {
    text-align: center;
}

.left-center h1:nth-child(4) {
    text-align: right;
}

.left-bottom {
    grid-column: 1 / 3;
    grid-row: 3;
    padding: 2vw;
    align-content: end;
}

.left-bottom p {
    font-size: 1.1vw;
    font-weight: 400;
    width: 80%;
}

.right {
    grid-column: 3;
    grid-row: 1 / 4;
    padding: 2vw;
    padding-right: 4vw;
}

.right video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 52.5%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    padding: 2.3vw;
    border-radius: 50%;
}

.arrow i {
    color: #ffffff;
    font-size: 2.5vw;
    background-color: orangered;
}

@media (max-width: 768px) {
    .left-top-right h4 {
        margin-bottom: 10px;
        font-size: 2vw;
    }

    .left-top-right h5 {
        font-size: 1.8vw;
        line-height: 2vw;
    }

    .left-bottom p {
        font-size: 1.5vw;
        font-weight: 400;
        width: 80%;
    }
}


@media (max-width:600px) {
    .main {
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 30% 10% 50%;
    }

    .left-top-left {
        grid-column: 1;
        grid-row: 1;
        padding: 4vw;
    }

    #square {
        width: 3.5vw;
        height: 3.5vw;
    }

    .left-top-right {
        grid-column: 2;
        grid-row: 1;
        padding: 4vw;
        text-align: right;
    }

    .left-top-right h4,
    h5 {
        display: none;
    }

    .left-top-right i {
        display: initial;
        font-size: 5vw;
    }

    .left-center {
        padding: 10px 4vw 10px 4vw;
    }

    .left-center h1 {
        width: 60%;
        font-size: 8vw;
        line-height: 7vw;
    }

    .left-bottom {
        padding: 10px 4vw 10px 4vw;
    }

    .left-bottom p {
        width: 100%;
        font-size: 2vw;
    }

    .right {
        grid-column: 1 / 3;
        grid-row: 4;
        padding: 4vw;
    }

    .arrow {
        top: 53%;
        left: 83%;
        padding: 3vw;
    }

    .arrow i {
        font-size: 5.5vw;
        rotate: 90deg;
    }
}

@media (max-width:426px) {
    .left-center h1 {
        width: 70%;
        font-size: 11vw;
        line-height: 10vw;
    }

    .left-bottom p {
        width: 100%;
        font-size: 2.5vw;
    }
}

@media (max-width:376px) {
    .left-center h1 {
        width: 80%;
        font-size: 14vw;
        line-height: 12vw;
    }

    .left-bottom p {
        font-size: 2.7vw;
    }
}

@media (max-width:320px) {
    .left-center h1 {
        width: 85%;
        font-size: 15vw;
        line-height: 14vw;
    }

    .left-bottom p {
        font-size: 3vw;
    }
}